<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>VirtCalendar</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- sweetalert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.css">
    <!-- FullCalendar CSS -->
    <link rel="stylesheet" href="vendor/fullcalendar/core/main.min.css">
    <link rel="stylesheet" href="vendor/fullcalendar/daygrid/main.min.css">
    <!-- FullCalendar JS -->
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="vendor/fullcalendar/core/main.min.js"></script>
    <script src="vendor/fullcalendar/daygrid/main.min.js"></script>
    <script src="vendor/fullcalendar/interaction/main.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>